<!-- templates/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- メニュー -->
    <div th:fragment="sidebar">
        <div class="col-md-2 bg-light border-end">
            <ul class="nav flex-column py-2">
                <li class="nav-item"><a th:href="@{/items}" class="nav-link">商品一覧</a></li>
                <li class="nav-item"><a href="#" class="nav-link">在庫一覧</a></li>
                <li class="nav-item"><a href="#" class="nav-link">期限確認</a></li>
                <li class="nav-item"><a href="#" class="nav-link">入出庫管理</a></li>
                <li class="nav-item"><a href="#" class="nav-link">発注情報</a></li>
                <li class="nav-item"><a href="#" class="nav-link">入出庫履歴</a></li>
                <li class="nav-item"><a href="#" class="nav-link">申請一覧</a></li>
            </ul>
        </div>
    </div>

    <!-- タイトルバー -->
    <div th:fragment="pageTitle(title)">
        <div class="d-flex justify-content-between align-items-start mb-3">
            <h4 class="fw-bold" th:text="${title}">タイトル</h4>
            <div class="text-end">
                <div th:text="${name}">ログインユーザー名</div>
                <div th:text="${#dates.format(today, 'yyyy/MM/dd HH:mm:ss')}">日付</div>
            </div>
        </div>
    </div>
</body>
</html>
